body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    padding: 50px;
}

.container-fluid {
    padding: 0;
}

.btn {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: fit-content;
    padding: 8px;
    border-radius: 30px;
    border-color: #CDF3A2;
    background-color: transparent;
}

/* Barra de Navegação */

.navbar {
    background-color: #444;
}

.navbar-item {
    margin-left: 20px;
}

#id-navbar a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

#id-navbar a:hover {
    text-decoration: none;
}

#id-navbar .active {
    color: white;
    font-weight: bolder;
}

/* Parte principal da Home */
.main {
    display: inline-block;
    height: 750px;
}

.titulo-home {
    margin: 50px 100px auto auto;
    position: relative;
    margin-bottom: 30px;
}

.titulo-home .texto1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    animation: texto-descida 2s 1 linear;
    position: relative;
}

.titulo-home .texto2 {
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: grey;
    animation: texto-subida 2s 1 linear;
} 

@keyframes texto-descida {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
    }
}

@keyframes texto-subida {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
    }
}

.call-to-action::before {
    content: "";
    border-top: 2px solid pink;
    width: 30%;
    position: absolute;
    top: 100px;
    left: 25%;
}

.call-to-action { 
    margin-top: 70px;
    margin-right: 100px;
    animation: texto-subida 3s 1 3s paused ease-out;   
}

.call-to-action p {
    opacity: 0;
    animation: desaparecer 1ms 2s forwards;
}

@keyframes desaparecer {
    to {
        opacity: 1;
    }
}

.animacao-main {
    position: relative;
}

.img-titulo {
    margin-top: 150px;
}

.img-titulo img {
    width: 300px;
}

.circulo {
    width: 500px;
    height: 500px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #47ba3a;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: circulo 60s linear 0s infinite;
}

@keyframes circulo {
    to {
        transform: rotate(360deg);
    }
}

.icon {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 28px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all ease 0.5s;
    background-color: #6ECB63;
    border-color: #6ECB63;
}

.icon:hover {
    border-color: #CDF3A2;
    background-color: #CDF3A2;
    box-shadow: 0 4px 94px #fbe1e5;
}

.icon:nth-child(1) {
    top: -50px;
    left: 41%;
}

.icon:nth-child(2) {
    top: 70px;
    left: -20px;
}

.icon:nth-child(3) {
    top: 70px;
    right: -20px;
}

.icon:nth-child(4) {
    bottom: 80px;
    right: -20px;
}

.icon:nth-child(5) {
    bottom: -50px;
    right: 41%;
}

.icon:nth-child(6) {
    bottom: 80px;
    left: -20px;
}

.efeito {
    background-color: #CDF3A2;
}

.btn a {
    text-decoration: none;
    color: black;
}

/* página de adocao */
#perfil {
    margin-top: 70px;
    margin-bottom: 70px;
}

.btn-perfil {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 10px;
}

.exibicao {
    width: 200px;
    height: 130px;
    margin: 5px;
}

.nome {
    font-weight: bold;
}

/* página de sobre */

#id-sobre {
    padding: 70px 0;
}

.texto-sobre {
    margin: auto 0;
}
/* Locais */


/* Resgate */

/* Contato */

/* Footer */

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #3ec1d5;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover {
    color: #3ec1d5;
}

/* Copyright */

#copy-area {
    background-color: #f1f1f1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
}

#copy-area .container a:hover{
    text-decoration: none;
    color: #3ec1d5;
}

/* Responsivo */


@media(max-width: 767px) {
    /* Adoção */
    .btn-perfil {
        margin: 5px;
    }
    
    .exibicao {
        border-radius: 30px;
        margin: 5px;
    }

}
